<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximun-scale=1.0, minimun-scale=0.1">
  <title>Lyft</title>
  <link href='../assets/images/logo-pink.png' rel='shortcut icon' type='image/png'>
  <link rel="stylesheet" href="../vendors/bootstrap/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Scope+One" rel="stylesheet">
  <link rel="stylesheet" href="../css/verify.css">
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <a class="circle" href="../views/form.html"></a>
      </div>
    </div>
    <div class="container row">
      <div class="col-xs-12">
        <h4 class="title">Verify phone number</h4>
        <h4 class="text">Join now for free ride credit</h4>
        <hr>
      </div>
      <div class="col-xs-12">
        <div class="text-code">
          <span>LAB - </span>
        </div>
        <div class="cod-container">
          <input id="insert-code" class="input-cod" type="number" placeholder="" value="">
        </div>
        <p class="text">Enter the code sent to +52</p>
        <button id="resend" type="button" class="btn-resend btn btn-secondary btn-xs btn-block">Resend code</button>
      </div>
    </div>
    <div class="container row">
      <div class="col-xs-12">
        <button id="next-two" type="button" class="btn-next btn btn-secondary btn-xs btn-block" disabled>NEXT</button>
      </div>
    </div>
  </div>
  <!--scripts-->
  <script type="text/javascript" src="../vendors/js/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="../js/form.js"></script>
</body>
</html>
